<!DOCTYPE html>
<html>
  <head>
    <title>Upload Image</title>
  </head>
  <body>

    {% comment %} {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %} {% endcomment %}
    
   
    
    <form method=post enctype=multipart/form-data>
     Upload Image

      <p><input type=file name=file>
   {% comment %} <img src="static\uploads\offer.jpg"> {% endcomment %}

       Upload Video
       <p><input type=file name=file1>
       {% comment %} <h2>*************************</h2> {% endcomment %}
         <input type=submit value=Upload>
    </form>

    <h1>Result:</h1>
    {% if img_src %}
      <img src="{{ img_src }}">
    {% endif %}
    
  </body>
</html>
    